body {
    background: #e5e5e5;
    color: #25282B;

    text-align: center;
}

button {
    color: #ff5E84;
    border: none;

    font-weight: 100;
    background: none;
}


.fat {
    background: #ff5E84;
    color: white;
}

#footer a {
    color: 25282B;
    text-decoration: none;
}

.hide {
    display: none;
}